<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="JeanLuc" verbose="2" parallel="methods" thread-count="1" data-provider-thread-count="8">
    <test name="util">
        <packages>
            <package name="com.fulcrumgenomics.util"/>
        </packages>
    </test>
</suite>
